<html>
<head>
    <title>Admin-Page</title>
</head>

<body>
<h1>admin-dashboard-interest</h1>
<form method="post" action="">
    <label for="select1">min select:</label>
    <select name="interest_active_user_min" id="select1">
        <option value="1">1</option>
        <option value="2">2</option>
    </select>

    <label for="select2">max select:</label>
    <select name="interest_active_user_max" id="select2">
        <option value="1">1</option>
        <option value="2">2</option>
    </select>
    <input type="submit">
</form>
</body>
</html>